@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(91, 100, 107)
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 1px 10px 50px 50px;
    margin: auto;
}

nav {
    background-color: black;
    padding: 20px 0px 0px 0px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 40px;
}

nav.nav1 > a:hover {
    text-decoration: underline;
}

nav.nav2 {
    background-color: black;
    padding: 20px 0px 0px 0px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 40px;
}

nav.nav2 > a:hover {
    text-decoration: underline ;
}

h1.a {
    color: white;
}

h1.b {
    color: black;
    text-align: center;
}

h1.c {
    color: black;
    text-align: center;
}

main.m1 {
    background-color: white;
    padding: 50px 50px 300px 50px;
    border-radius: 0px;
    margin-bottom: -15px;
}

main.m2 {
    background-color: black;
    padding: 50px 50px 50px 50px;
    border-radius: 0px;
    margin-bottom: -15px;
}

main.m3 {
    background-color: white;
    padding: 50px 50px 50px 50px;
    border-radius: 0px;
    margin-bottom: -15px;
}

article.art1 {
    color: white;
}

article.art2 {
    color: black;
    padding: px;
}

div.div1 {
    display: list-item;
    margin: 150px 0px 0px 0px;
    padding: 40px;
    border: 1px solid transparent;
    text-align: center;
    font-weight: bold;
}

div.div2 {
    display: inline-flex;
    margin: auto;
    padding: 5px;
    border: 1px solid ;
    text-align: justify;
    margin: auto;
}

div.div3 {
    display: inline-flex;
    margin: auto;
    padding: 5px;
    background-color: white;
    border: 1px solid ;
    text-align: start;
    text-align: justify;
    font-weight: bold;
}

div.div4 {
    display: inline-flex;
    margin: auto;
    padding: 7px;
    background-color: black;
    border: 1px solid ;
    text-align: start;
    font-weight: bold;
    color: white;
}

h2.a {
    color: white;
}

p {
    font-size: 16px;
}

aside {
    background-color: black;
    color: white;
}

aside > p {
    text-align: center;
}

footer {
    background-color: black;
    padding: 0px 0px 0px 30px;
}

footer > p {
    color: white
}

img {
    padding: 20px 0px 0px 0px;
}

